.ds-container {
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--spacing-md);
  box-sizing: border-box;
}

.ds-container.size-sm {
  max-width: 800px;
}

.ds-container.size-md {
  max-width: var(--container-width); /* 1140px */
}

.ds-container.size-lg {
  max-width: 1280px;
}

.ds-container.size-xl {
  max-width: 1440px;
}
